[submodule "ubuntu/mujoco/mujoco-py"]
	path = ubuntu/mujoco/mujoco-py
	url = https://github.com/studywolf/mujoco-py.git
[submodule "ubuntu/mujoco/mujoco"]
	path = ubuntu/mujoco/mujoco
	url = https://github.com/deepmind/mujoco.git
[submodule "ubuntu/alacritty"]
	path = ubuntu/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "ubuntu/rtl8812au"]
	path = ubuntu/rtl8812au
	url = https://github.com/aircrack-ng/rtl8812au.git
[submodule "aws/external/terraform-in-action"]
	path = aws/external/terraform-in-action
	url = https://github.com/wilsonify/terraform-in-action.git
