apturl
asn1crypto
beautifulsoup4
bleach
Brlapi
bs4
certifi
chardet
command-not-found
cryptography 
cupshelpers
cycler
decorator
defer
distro-info
entrypoints
html5lib
httplib2
idna
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter-client
jupyter-core
keyring
keyrings.alt
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nltk
notebook
numpy
oauth
olefile
pandas
pandocfilters
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
pycairo
pycrypto
pycups
Pygments
pygobject
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
pyzmq
reportlab
requests
requests-unixsocket
scikit-learn
scipy
scour
screen-resolution-extra
seaborn
SecretStorage
simplegeneric
simplejson
six
sklearn
ssh-import-id
system-service
systemd-python
terminado
testpath
tornado
traitlets
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
wcwidth
webencodings
wordcloud
xkit
zope.interface
