[Desktop Entry]
Name=vscode
Exec=code
Icon=/opt/vscode/v1.84.0/resources/app/resources/linux/code.png
Type=Application
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=code
